# Datasets and model checkpoints (Too large for GitHub)
data/
outputs/

# Python cache
__pycache__/
*.pyc
.venv/
venv/
env/

# LaTeX build files
*.aux
*.log
*.out
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk

# IDEs and OS files
.vscode/
.DS_Store
